/* Universal selector 
* {
    border: 1px solid red;
}
*/


/*Tag selector
h1{
    border: 1px solid red;
}
h2{
    border: 1px solid green;
}
h3{
    border: 1px solid blue;
}
*/

/*Descendant selector
p strong {
    border: 1px solid blue;
}
*/

/*Child selector
Descendant
ul li{
    border: 1px solid blue;
}

Child
ul > li{
    border: 1px solid blue;
}
*/

/*Group selector
h1, h2, h3{
    border: 1px solid blue;
}
*/

/*Order selector
ul li:nth-of-type(1){
    border: 1px solid red;
}
ul li:nth-of-type(2){
    border: 1px solid green;
}
ul li:nth-of-type(3){
    border: 1px solid blue;
}
ul li:nth-of-type(4){
    border: 1px solid violet;
}*/

/*Sequence selector
ul li:nth-of-type(2n){
    border: 1px solid blue;
}*/
/*
ul li:nth-of-type(3n) {
    border: 1px solid blue;
}*/
/*
ul li:nth-of-type(2n-1){
    border: 1px solid blue;
}*/

/*last component selector
ul li:last-child{
    border: 1px solid blue;
}*/

/*Odd , Even selector*/
ul li:nth-of-type(odd){
    border: 1px solid blue;
}
ul li:nth-of-type(even){
    border: 1px solid red;
}